{

"class" : {
    "method":"spectral",
    "eigengap":1, 
    "window" : 2, 
    "min_embs" : 4,
    "unweighted" : 0,
    "max_clusters" : 3,
    "use_jenks" : 1,
    "oned_plots" : 0,
    "PPMI_threshold" : 0.00,
    "separate_lens" : 1, 
    "norm_lap" : 1,
    "max_cuts" : 2, 
    "plot_cuts" : 0, 
    "mod_threshold" : -100,
    "graph_type": "KLD",
    "mod_matrix": 0, 
    "sign_cut": 1,
    "PMI": 0
    },

"phonotactic" : {
    "N" : 2,
    "syll_boundaries" : 0,
    "word_boundaries" : 1, 
    "type_frequency" : 0,
    "singletons" : 0, 
    "opt" : "SGD", 
    "n_iter" : 1000, 
    "lr" : 0.1, 
    "lam" : 0.001,
    "non_negative" : 1
    }
}